@function kebab-to-camel-case($str) {
   $camelCase: '';
   $prevCharWasDash: false;

   @for $i from 1 to str-length($str) + 1 {
      $char: str-slice($str, $i, $i);

      @if $char == '-' {
         // If $prevCharWasDash is true, then we've encountered a double dash '--'
         @if $prevCharWasDash {
         // Turn double dashes into single dashes
         $camelCase: $camelCase + '-';
         $prevCharWasDash: false;
         } @else {
            // This is a single dash. Skip adding it to the string and uppercase the next
            // character.
            $prevCharWasDash: true;
         }
         // The current $char is not a dash. If the previous character
         // was a dash and we should uppercase this char.
      } @else if $prevCharWasDash {
         $camelCase: $camelCase + to-upper-case($char);
         $prevCharWasDash: false;
      } @else {
         // Add current $char as-is
         $camelCase: $camelCase + $char;
         $prevCharWasDash: false;
      }
   }

   @return $camelCase;
}
